html {
  font-family: Georgia, serif;
}

.planet-content {
  color: #efefef;
  background-color: #495562;
}

.btn {
  border-color: #97a49b;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .btn-ghost {
    border-color: #fff;
    color: #efefef;
  }

  .planet-content {
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
  }

  .banner {
    overflow: hidden;
    max-height: 500px;
    position: relative;

  }

}
